{% extends 'base.html.twig' %}

{% block title %}Bootstrap{% endblock %}


{% block body %}

    <div class="container">

        <div class="row block1">
            <div class="col-xs-12 col-md-6 col-lg-4 cols1">
                <h1>bootstrap 1</h1>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla non diam in felis varius finibus.
                    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed vehicula ipsum sed ligula efficitur
                    accumsan in
                    in lectus. quisque lobortis lorem elit, vitae finibus eros ornare at. sed et quam eleifend eros
                    laoreet
                    lacinia. fusce velit elit, fringilla non ornare ut, vehicula a arcu. nullam ac felis at dui varius
                    venenatis
                    ac et urna. integer elementum dictum euismod. suspendisse finibus enim tortor, sed pretium tellus
                    placerat
                    non. proin risus elit, tincidunt sit amet nibh at, vehicula scelerisque metus. phasellus lacus
                    lorem, ornare
                    et lacus quis, dictum sagittis mauris.
                </p>
            </div>   <!-- cols1-->
            <div class="col-xs-12 col-md-6 col-lg-4 cols2">
                <h2>bootstrap 2</h2>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla non diam in felis varius finibus.
                    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed vehicula ipsum sed ligula efficitur
                    accumsan in
                    in lectus. quisque lobortis lorem elit, vitae finibus eros ornare at. sed et quam eleifend eros
                    laoreet
                    lacinia. fusce velit elit, fringilla non ornare ut, vehicula a arcu. nullam ac felis at dui varius
                    venenatis
                    ac et urna. integer elementum dictum euismod. suspendisse finibus enim tortor, sed pretium tellus
                    placerat
                    non. proin risus elit, tincidunt sit amet nibh at, vehicula scelerisque metus. phasellus lacus
                    lorem, ornare
                    et lacus quis, dictum sagittis mauris.
                </p>
            </div>   <!-- cols2-->
            <div class="col-xs-12 col-md-12 col-lg-4 cols3">
                <h3>bootstrap 3</h3>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla non diam in felis varius finibus.
                    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed vehicula ipsum sed ligula efficitur
                    accumsan in
                    in lectus. quisque lobortis lorem elit, vitae finibus eros ornare at. sed et quam eleifend eros
                    laoreet
                    lacinia.
                    fusce velit elit, fringilla non ornare ut, vehicula a arcu. nullam ac felis at dui varius
                    venenatis
                    ac et urna. integer elementum dictum euismod. suspendisse finibus enim tortor, sed pretium tellus
                    placerat
                    non. proin risus elit, tincidunt sit amet nibh at, vehicula scelerisque metus. phasellus lacus
                    lorem, ornare
                    et lacus quis, dictum sagittis mauris.
                </p>
            </div>   <!-- cols3-->
        </div>  <!-- block1-->
    </div>

    <div class="container">
        <div class="row block2">
            <div class="col-md-10 col-lg-12 cols4">
                <h4>bootstrap 4</h4>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla non diam in felis varius finibus.
                    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed vehicula ipsum sed ligula efficitur
                    accumsan in
                    in lectus. quisque lobortis lorem elit, vitae finibus eros ornare at. sed et quam eleifend eros
                    laoreet
                    lacinia. fusce velit elit, fringilla non ornare ut, vehicula a arcu. nullam ac felis at dui varius
                    venenatis
                    ac et urna. integer elementum dictum euismod. suspendisse finibus enim tortor, sed pretium tellus
                    placerat
                    non. proin risus elit, tincidunt sit amet nibh at, vehicula scelerisque metus. phasellus lacus
                    lorem, ornare
                    et lacus quis, dictum sagittis mauris.
                </p>
            </div>   <!-- cols4-->
        </div>  <!-- block2-->
    </div>


    <div></div>
{% endblock %}