{% extends 'base.html.twig' %}


{% block title %} Page test n°2{% endblock %}

{% block stylesheets2 %} {% endblock %}
{% block body %}

    <H1 STYLE="text-align: center">PAGE TEST 2</H1>

{% endblock %}