@font-face {
  font-family: 'nowayregular2';
  src: url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../fonts/glyphicons-halflings-regular.eot') format('eot'),
  url('../fonts/glyphicons-halflings-regular.ttf') format('ttf'),
  url('../fonts/glyphicons-halflings-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}