@mixin center-image() {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@mixin center-element() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin  btn-africauncained{
  color: white;
  background-color: #7b7b00;
  border-color: #dcdc1d;
  &:hover{
    background-color: #7b5d08;
  }
}

@mixin right-element() {
  display: grid;
  justify-content: right;

}

@mixin left-element() {
  display: grid;
  justify-content: left;


}

