@font-face {
  font-family: 'UTMNeutra';
  src: url('../fonts/utmNeutra/UTMNeutra.eot') format('eot');
  src: local('UTMNeutra'),
  url('../fonts/utmNeutra/UTMNeutra.woff') format('woff'),
  url('../fonts/utmNeutra/UTMNeutra.ttf') format('truetype');
}

